<style>

/* Common styles */
.th2 {
    font-size: 14px;
    line-height: 18px;
    margin: 5px 10px;
    padding: 0;
    letter-spacing: 0px;
}

.th3 {
    font-size: 11px;
    line-height: 20px; 
    margin: 5px 0px;
    padding: 0;
    letter-spacing: 0px;
}

/* HR styles */
hr {
    width: 40px;
    height: 1px;
    background: #CECECE;
    margin: auto;
    border: none;
}

/* Icon styles */
.iconby {
    width: 28px;
    height: 28px;
    margin: auto;
    background: #F0F0F0;
    border-radius: 50%;
    padding: 3px;
}

</style>


<div style="max-height: 100px;display: flex; border: 1px solid #C9B795; border-radius: 20px;padding: 5px 10px;">
    <div style="flex: 1; text-align: center;">
        <h2 class="th2">Order</h2>
        <div class="iconby">
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.00114247 1.07131C0.00114247 0.919786 0.0613306 0.774472 0.168466 0.667332C0.275601 0.560191 0.420908 0.5 0.57242 0.5H1.07286C1.9035 0.5 2.38108 1.04046 2.65758 1.57977C2.8461 1.94883 2.98207 2.39902 3.09518 2.78979H14.8578C15.0343 2.78985 15.2085 2.83081 15.3665 2.90948C15.5246 2.98814 15.6622 3.10236 15.7687 3.24318C15.8752 3.38399 15.9476 3.54757 15.9803 3.72108C16.0129 3.89459 16.0049 4.0733 15.9569 4.2432L14.2477 10.2705C14.1117 10.7487 13.8235 11.1695 13.4268 11.4691C13.0301 11.7687 12.5465 11.9308 12.0494 11.9307H6.24635C5.74508 11.9309 5.25766 11.7662 4.85919 11.4621C4.46072 11.1579 4.1733 10.7312 4.04122 10.2476L3.3077 7.55677C3.30349 7.54471 3.29968 7.53252 3.29627 7.52021L2.1183 3.52449L2.00404 3.13943C1.88979 2.74409 1.78924 2.39445 1.63842 2.1008C1.45676 1.74659 1.28994 1.64375 1.07172 1.64375H0.571277C0.419765 1.64375 0.274458 1.58356 0.167323 1.47642C0.0601878 1.36928 0 1.22397 0 1.07245M4.39769 7.2117L5.14378 9.9494C5.20993 10.1911 5.35368 10.4043 5.55291 10.5563C5.75214 10.7082 5.99579 10.7905 6.24635 10.7904H12.0505C12.299 10.7901 12.5406 10.7089 12.7387 10.559C12.9368 10.4091 13.0807 10.1987 13.1485 9.95969L14.8578 3.93241H3.43223L4.39769 7.2117ZM8.00245 14.7861C8.00245 15.2406 7.82189 15.6766 7.50048 15.998C7.17908 16.3194 6.74316 16.5 6.28862 16.5C5.83408 16.5 5.39816 16.3194 5.07676 15.998C4.75535 15.6766 4.57479 15.2406 4.57479 14.7861C4.57479 14.3315 4.75535 13.8956 5.07676 13.5742C5.39816 13.2527 5.83408 13.0722 6.28862 13.0722C6.74316 13.0722 7.17908 13.2527 7.50048 13.5742C7.82189 13.8956 8.00245 14.3315 8.00245 14.7861ZM6.8599 14.7861C6.8599 14.6346 6.79971 14.4892 6.69258 14.3821C6.58544 14.275 6.44013 14.2148 6.28862 14.2148C6.13711 14.2148 5.9918 14.275 5.88467 14.3821C5.77753 14.4892 5.71734 14.6346 5.71734 14.7861C5.71734 14.9376 5.77753 15.0829 5.88467 15.1901C5.9918 15.2972 6.13711 15.3574 6.28862 15.3574C6.44013 15.3574 6.58544 15.2972 6.69258 15.1901C6.79971 15.0829 6.8599 14.9376 6.8599 14.7861ZM13.7152 14.7861C13.7152 15.2406 13.5347 15.6766 13.2133 15.998C12.8919 16.3194 12.4559 16.5 12.0014 16.5C11.5469 16.5 11.1109 16.3194 10.7895 15.998C10.4681 15.6766 10.2876 15.2406 10.2876 14.7861C10.2876 14.3315 10.4681 13.8956 10.7895 13.5742C11.1109 13.2527 11.5469 13.0722 12.0014 13.0722C12.4559 13.0722 12.8919 13.2527 13.2133 13.5742C13.5347 13.8956 13.7152 14.3315 13.7152 14.7861ZM12.5727 14.7861C12.5727 14.6346 12.5125 14.4892 12.4054 14.3821C12.2982 14.275 12.1529 14.2148 12.0014 14.2148C11.8499 14.2148 11.7046 14.275 11.5974 14.3821C11.4903 14.4892 11.4301 14.6346 11.4301 14.7861C11.4301 14.9376 11.4903 15.0829 11.5974 15.1901C11.7046 15.2972 11.8499 15.3574 12.0014 15.3574C12.1529 15.3574 12.2982 15.2972 12.4054 15.1901C12.5125 15.0829 12.5727 14.9376 12.5727 14.7861Z" fill="black" style="fill:black;fill-opacity:1;"/>
            </svg>
        </div>
        <h3 class="th3">Today</h3>
    </div>

    <hr>


    <div style="flex: 1; text-align: center;">
        <h2 class="th2">Print By</h2>
        <div  class="iconby">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4.55556 0.5H11.4444C11.8134 0.499975 12.1684 0.644343 12.4365 0.903487C12.7047 1.16263 12.8658 1.51691 12.8867 1.89364L12.8889 1.97727V3.22682L13.6667 3.22727C14.9556 3.22727 16 4.29545 16 5.61364V11.75C16 12.1418 15.8478 12.5175 15.5769 12.7946C15.306 13.0716 14.9386 13.2273 14.5556 13.2273L12.8889 13.2268V14.0227C12.8889 14.4145 12.7367 14.7903 12.4658 15.0673C12.1949 15.3444 11.8275 15.5 11.4444 15.5H4.55556C4.17247 15.5 3.80507 15.3444 3.53418 15.0673C3.26329 14.7903 3.11111 14.4145 3.11111 14.0227V13.2268L1.44444 13.2273C1.06135 13.2273 0.693954 13.0716 0.423068 12.7946C0.152182 12.5175 0 12.1418 0 11.75V5.61364C0 4.29545 1.04444 3.22727 2.33333 3.22727L3.11111 3.22682V1.97727C3.11109 1.59994 3.25225 1.2369 3.50563 0.962622C3.75902 0.688348 4.10542 0.523636 4.47378 0.502273L4.55556 0.5ZM11.4444 9.81818H4.55556C4.46715 9.81818 4.38237 9.8541 4.31985 9.91803C4.25734 9.98197 4.22222 10.0687 4.22222 10.1591V14.0227C4.22222 14.2109 4.37156 14.3636 4.55556 14.3636H11.4444C11.5329 14.3636 11.6176 14.3277 11.6801 14.2638C11.7427 14.1999 11.7778 14.1131 11.7778 14.0227V10.1591C11.7778 10.0687 11.7427 9.98197 11.6801 9.91803C11.6176 9.8541 11.5329 9.81818 11.4444 9.81818ZM13.6667 4.36364H2.33333C2.00918 4.36364 1.6983 4.49533 1.46909 4.72975C1.23988 4.96417 1.11111 5.28212 1.11111 5.61364V11.75C1.11111 11.9382 1.26044 12.0909 1.44444 12.0909L3.11111 12.0905V10.1591C3.11111 9.76729 3.26329 9.39154 3.53418 9.1145C3.80507 8.83746 4.17247 8.68182 4.55556 8.68182H11.4444C11.8275 8.68182 12.1949 8.83746 12.4658 9.1145C12.7367 9.39154 12.8889 9.76729 12.8889 10.1591V12.0905L14.5556 12.0909C14.644 12.0909 14.7287 12.055 14.7913 11.9911C14.8538 11.9271 14.8889 11.8404 14.8889 11.75V5.61364C14.8889 5.28212 14.7601 4.96417 14.5309 4.72975C14.3017 4.49533 13.9908 4.36364 13.6667 4.36364ZM11.4444 1.63636H4.55556C4.47501 1.63637 4.39718 1.6662 4.33648 1.72035C4.27577 1.7745 4.23629 1.84929 4.22533 1.93091L4.22222 1.97727V3.22682H11.7778V1.97727C11.7778 1.89489 11.7486 1.8153 11.6957 1.75321C11.6427 1.69113 11.5696 1.65075 11.4898 1.63955L11.4444 1.63636Z" fill="black"/>
</svg>

        </div>
        <h3 class="th3" id="printByDate"></h3>
    </div>

  <hr>
    <div style="flex: 1; text-align: center;">
        <h2 class="th2">Receive By</h2>
        <div  class="iconby">
            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.20925 1.67141C9.07494 1.61732 8.92506 1.61732 8.79075 1.67141L2.07675 4.36975L4.78125 5.45609L11.7045 2.6741L9.20925 1.67141ZM13.2188 3.2834L6.2955 6.06539L9 7.15174L15.9233 4.36975L13.2188 3.2834ZM16.875 5.20514L9.5625 8.14426V17.0995L16.875 14.1604V5.20514ZM8.4375 17.1007V8.14313L1.125 5.20514V14.1615L8.4375 17.1007ZM8.37337 0.621239C8.77564 0.459587 9.22436 0.459587 9.62663 0.621239L17.6467 3.84523C17.751 3.88722 17.8404 3.95962 17.9034 4.0531C17.9663 4.14659 18 4.25687 18 4.36975V14.1615C17.9999 14.3874 17.9324 14.6081 17.8062 14.7951C17.6801 14.982 17.5011 15.1268 17.2924 15.2106L9.20925 18.4594C9.07494 18.5135 8.92506 18.5135 8.79075 18.4594L0.70875 15.2106C0.499783 15.127 0.32056 14.9823 0.194222 14.7953C0.0678844 14.6083 0.00023212 14.3876 0 14.1615L0 4.36975C2.61449e-05 4.25687 0.0336867 4.14659 0.0966454 4.0531C0.159604 3.95962 0.248977 3.88722 0.35325 3.84523L8.37337 0.621239Z" fill="black"/>
</svg>

        </div>
        <h3 class="th3" id="receiveByDate"></h3>
    </div>
</div>



<script>
// Función para calcular las fechas de impresión y recepción basadas en la fecha actual
function calculateDates() {
    const orderDate = new Date(); // Fecha actual
    const businessDaysToAddForPrint = 2; // Agregar de 2 a 4 días hábiles para la impresión
    const businessDaysToAddForReceiveStart = 5; // Agregar de 5 a 10 días hábiles para comenzar a recibir

    // Función para verificar si es un día hábil (lunes a viernes)
    function isWeekday(date) {
        const day = date.getDay();
        return day !== 0 && day !== 6; // 0 es domingo, 6 es sábado
    }

    // Calcular fecha de impresión
    const printStartDate = new Date(orderDate);
    let businessDaysAddedForPrint = 0;
    while (businessDaysAddedForPrint < businessDaysToAddForPrint) {
        printStartDate.setDate(printStartDate.getDate() + 1);
        if (isWeekday(printStartDate)) {
            businessDaysAddedForPrint++;
        }
    }
    const printEndDate = new Date(printStartDate);
    for (let i = 0; i < 3; i++) { // Añadir 3 días adicionales (hábiles)
        printEndDate.setDate(printEndDate.getDate() + 1);
        if (!isWeekday(printEndDate)) {
            printEndDate.setDate(printEndDate.getDate() + 1); // Si es fin de semana, saltar al siguiente día hábil
        }
    }

    // Calcular rango de fechas de recepción
    const receiveStartDate = new Date(printEndDate); // Comienza a contar desde la fecha de impresión
    let businessDaysAddedForReceiveStart = 0;
    while (businessDaysAddedForReceiveStart < businessDaysToAddForReceiveStart) {
        receiveStartDate.setDate(receiveStartDate.getDate() + 1);
        if (isWeekday(receiveStartDate)) {
            businessDaysAddedForReceiveStart++;
        }
    }
    const receiveEndDate = new Date(receiveStartDate);
    for (let i = 0; i < 5; i++) { // Añadir 5 días adicionales (hábiles)
        receiveEndDate.setDate(receiveEndDate.getDate() + 1);
        if (!isWeekday(receiveEndDate)) {
            receiveEndDate.setDate(receiveEndDate.getDate() + 1); // Si es fin de semana, saltar al siguiente día hábil
        }
    }

    // Formatear fechas
    const printDateFormat = printStartDate.toLocaleDateString('en-US', { month: 'long', day: 'numeric' }) + ' - ' + printEndDate.toLocaleDateString('en-US', { month: 'long', day: 'numeric' });
    const receiveStartDateFormat = receiveStartDate.toLocaleDateString('en-US', { month: 'long', day: 'numeric' }) + ' - ' + receiveEndDate.toLocaleDateString('en-US', { month: 'long', day: 'numeric' });

    return {
        printDate: printDateFormat,
        receiveDate: receiveStartDateFormat
    };
}

// Calcular fechas y actualizar HTML
const dates = calculateDates();
document.getElementById("printByDate").innerText =  dates.printDate;
document.getElementById("receiveByDate").innerText =  dates.receiveDate;

</script>
